.row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 50px;
}

.image {
  margin: auto;
  display: flex;
}
.image-product {
  height: 300px;
  width: 200px;
  margin: auto;
  object-fit: contain;
}

.title {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0;
  letter-spacing: 1.3px;
}

.description {
  color: gray;
  padding: 5px;
  /* text-align: justify; */
}

.price {
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn {
  padding: 8px 40px;
  cursor: pointer;
  border: 1px solid #1890ff;
  border-radius: 5px;
  background-color: #1890ff;
  color: #fff;
  font-size: 16px;
}

.btn:hover {
  background-color: #40a9ff;
}
